&spi1 {
    status = "okay";
    pinctrl-0 = <&spi1_default>;
    pinctrl-names = "default";

    display@0 {
        compatible = "solomon,ssd1306fb-spi";
        reg = <0>;
        label = "SSD1306";
        spi-max-frequency = <10000000>;
        width = <128>;
        height = <64>;
        // Optional: reset-gpios if you have a reset pin wired
        // reset-gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;
    };
};

&display {
    compatible = "zmk,display";
    label = "SSD1306";
};
